.my-font, .my-button, .navlink, .page-title, #repleno-heading, #repleno-slogan, .subscribe-desc, .text-input, .about-text, .person-name, .person-job, .preorder-text {
  font-family: "Source Sans Pro", sans-serif; }

.circle-corners, .my-button, .text-input, .team-oval {
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  border-radius: 9999px; }

.horizontal-center, .page-elem, .my-navbar, .page-container, .my-button, .subscribe-container, .input-wrapper, .about-diagram, .about-text-container, .team-container, .team-oval, .form-container, .send-container, .footer-logo {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.page-elem, .my-navbar, .page-container {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 90%; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.my-button {
  background-color: #ec4c2c;
  border-color: #ec4c2c;
  -moz-border-width: 3px;
  -webkit-border-width: 3px;
  border-width: 3px;
  color: white; }
  .my-button:hover {
    background-color: #ec4c2c;
    border-color: #ec4c2c;
    color: white; }
  .my-button:active {
    background-color: #ec4c2c;
    border-color: #ec4c2c; }

.my-disabled {
  background-color: #ec4c2c;
  border-color: #ec4c2c; }

.my-navbar {
  background-color: #ec4c2c;
  border-color: #ec4c2c;
  -webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.16);
  -moz-border-width: 0;
  -webkit-border-width: 0;
  border-width: 0; }

.navlink {
  color: black;
  text-align: center;
  font-size: 20px; }

#tab {
  position: absolute;
  left: 85px;
  top: 36px;
  width: 8px;
  height: 8px;
  z-index: 10000;
  position: fixed; }

body {
  background-color: #f2f2f2; }

::selection {
  background: #fbd2ca;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #fbd2ca;
  /* Gecko Browsers */ }

.page-container {
  background-color: white;
  margin-bottom: 20px;
  padding-bottom: 20px; }

.page-title {
  color: black;
  text-align: center;
  font-size: 4.25vw;
  margin-top: 6.5vh;
  margin-bottom: 5vh; }
  @media screen and (max-width: 650px) {
    .page-title {
      font-size: 7vw; } }

#repleno-heading {
  color: black;
  text-align: center;
  font-size: 5.5vw; }
  @media screen and (max-width: 650px) {
    #repleno-heading {
      font-size: 7vw; } }

#repleno-slogan {
  color: black;
  text-align: center;
  font-size: 3.25vw; }
  @media screen and (min-width: 750px) {
    #repleno-slogan {
      font-size: 2.75vw; } }

.subscribe-desc {
  color: black;
  text-align: center;
  font-size: 2vw;
  font-style: italic; }
  @media screen and (min-width: 750px) {
    .subscribe-desc {
      font-size: 1.5vw; } }
  @media screen and (min-width: 900px) {
    .subscribe-desc {
      font-size: 1.25vw; } }
  @media screen and (min-width: 1050px) {
    .subscribe-desc {
      font-size: 1vw; } }
  @media screen and (min-width: 1200px) {
    .subscribe-desc {
      font-size: .8vw; } }

.subscribe-container {
  width: 90%; }
  @media screen and (min-width: 600px) {
    .subscribe-container {
      width: 80%; } }
  @media screen and (min-width: 800px) {
    .subscribe-container {
      width: 500px; } }

.subscribe-button {
  width: 100px; }

.text-input {
  background-color: #f2f2f2;
  border-color: #f2f2f2; }

.form-control:focus {
  border-color: #fbd2ca;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(251, 210, 202, 0.6); }

.about-diagram {
  width: 60vw; }

.about-text-container {
  margin-top: 2vh;
  margin-left: 7%; }

.about-text {
  color: black;
  text-align: center;
  font-size: 2vw;
  text-align: left; }

.about-diagram {
  width: 80%;
  max-height: 200px; }

@media screen and (min-width: 768px) {
  .team-container {
    width: 700px; } }

.team-oval {
  height: 325px;
  width: 150px;
  margin-bottom: 40px;
  border-style: solid;
  -moz-border-width: 3px;
  -webkit-border-width: 3px;
  border-width: 3px;
  border-color: #ec4c2c;
  background-color: #eaeaea; }

.person-name {
  color: black;
  text-align: center;
  font-size: 20px;
  color: #ec4c2c; }

.person-job {
  color: black;
  text-align: center;
  font-size: 15px; }

.preorder-text {
  color: black;
  text-align: center;
  font-size: 2.5vw; }
  @media screen and (max-width: 750px) {
    .preorder-text {
      font-size: 4vw; } }

.order-button {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 80%;
  max-width: 650px; }

.form-container {
  width: 75%;
  max-width: 800px; }

.name-text {
  width: 60%;
  max-width: 350px; }
  @media screen and (max-width: 750px) {
    .name-text {
      width: 75%; } }

.message-text {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  height: 400px; }

.footer {
  background-color: #ec4c2c;
  height: 100px; }

.footer-logo {
  height: 50px; }

/*# sourceMappingURL=style.css.map */
